
.mainSErvices{
 margin-bottom: 200px;
}

#normal-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  font-size: 19px;
  min-height: 100px;
}
#responsive-header {
  display: none;
}
#hero-header {
  height: 100vh;
  box-shadow: 3px 3px 2px #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(/images/cars.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 20px;
}
.hero-p{
  margin-right:100px ;
}

#hero-title {
  font-size: 4.5em;
  font-family: 'Indie Flower', cursive;
  margin-right: 200px;
  margin-top: 30px;
}
.table h2{
  margin-top: 300px;
  margin-left:20px ;
  font-size: 20px;
  color:#333;
}
.table h5{
  margin-left: 20px;
}
.table table{
  margin-top: 40px;
}
table {
  font-family: arial, sans-serif;
 font-size: 12px;
  margin-left: 20px;
  width: 100%;
  height: 420px;
}


td, th {

  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#features-container {
  box-shadow: 2px 2px 15px #f3eaea;
  margin-top: 5%;
  padding: 2%;
}

#service-features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
  padding-bottom: 3%;
}

#features-description {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  width: 60%;
}

#features-description h1 {
  font-size: 45px;
}

#features-description p {
  padding: 1%;
  font-size: 1.5rem;
  margin-top: 1%;
}

#feature {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #bebebe;
  box-shadow: 1px 2px 15px #bebebe;
}

#feature img {
  max-width: 30%;
  max-height: 30%;
  padding-top: 5%;
}

#feature-title {
  margin-top: 5%;
}

#feature p {
  width: 70%;
  font-size: 1.5rem;
  margin-top: 5%;
}

  .imge-with-text {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 1200px; 
    margin-right: 10px; }
    
  .imge-side {
    display: flex;
    width:500px;
    margin-right: 80px;
    border-radius: 2%;
    border: none;
    margin-top: 45px;
    margin-bottom: 20px;
    height: 300px;
  }
  
  .text-side {
    display: flex;
    width: calc( 50% - 2em); 
  }
  
  .text-side-inline {
    display: inline-block; 
    margin-top: 40px;
  }
  
  .text-side-title {
    color:var(--orange);
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
    margin-left: 8px;
    margin-top: 100px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 25px; 
   
  }
  
  .text-side-desc {
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #7777;
    font-size: 20px; 
  }
  
  .text-side-button {
    transition: 0.3s all; 
    background:var(--orange);
    padding: 15px 30px; 
    color: #fff;
    width: max-content; 
    max-width: 100%; 
  }
  
 
  p,
  label {
    color: rgb(192, 181, 181);
    font-size: 18px;
  }
  
  fieldset {
    border: none;
    outline: none;
    background: #333333;
    width: 100%;
    margin-top: 40px;
    margin-left: 200px;
    max-width: 300px;
    padding: 10px;
  }
  
  fieldset .select .select-wrapper {
    position: relative;
    border: 1px solid #ffffff;
 font-size: 18px;
  }
  
  fieldset .select .select-wrapper select {
    display: block;
    width: 90%;
    margin: 0;
    padding: 8px 16px;
    border: none;
    outline: none;
    appearance: none;
    position: relative;
    z-index: 1;
    background: transparent;
    cursor: pointer;
  }
  
  fieldset .select .select-wrapper select + i {
    position: absolute;
    top: 30%;
    right: 15px;
  }
  
  /* Using first option as label */
  
  .no-label label {
    position: absolute;
    top: -1000px;
    left: -1000px;
    opacity: 0;
    z-index: -1000;
  }
  
  /*The :invalid selector on the select only works on an option
  if the select box is required, and the selected option's value is empty,
  so you can style it as you would a text box's placeholder text.
  
  Setting it to disabled prevents the user from selecting it in the select options,
  and setting it to hidden hides it from the select options.*/
  
  .no-label .select-wrapper select:invalid {
    color: #666666;
    /*Change color of "placeholder" text in select box*/
  }
  
  select option {
    /*Default color for valid options*/
    color: #000000;
  }
  
  select option[value=""] {
    /*Change color of "placeholder" text in dropdown for invalid options*/
    color: #999999;
  }
  
  /* Theme Colors */
  
  .theme-dark {
    background-color: #000000;
  }
  
  .theme-light {
    background-color: #cccccc;
    border-color: #000000 !important;
  }
  
  .theme-dark select + i {
    color: #ffffff;
  }
  
  .theme-dark select {
    color: #ffffff;
  }
  .but {
    background: white;
    background: linear-gradient(#333, #ffffff);
    box-sizing: border-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    line-height: 40px;
    margin-top: 10px;
    margin-left:1px;
    padding: 0;
    text-align: center;
    align-items: center;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 100%;
  }	

  
  table {
    margin-top: 160px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  