<body>
    
    <!-- header section starts  -->

         <header>
         
             <div id="menu-bar" class="fas fa-bars"></div>
         
             <img src="./images/destination_(4).png"> 
     
             <a href="/" class="logo"><span>A</span>esh-Aldoor</a>
         
             <nav class="navbar">
                <ul>
                    <li><a class="Nav-a" href="/">Home</a></li>
                    <li><a href="/aboutUs"  class="Nav-a">About</a></li>
                    <li>
                       <a href="#" class="Nav-a" >Governorate
                       <i class="fas fa-caret-down"></i>
                       </a>
                       <ul>
                          <li><a href="#">North Region <i class="fas fa-caret-right"></i> </a>
                             <ul>
                                <li><a href="#">Irbid</a></li>
                                <li><a href="#">Ajloun</a></li>
                                <li><a href="#">Jerash</a></li> 
                                <li><a href="#">Mafraq</a></li>
                             </ul>
                          </li>
                          <li><a href="#">Central Region <i class="fas fa-caret-right"></i>
                            </a>
                            <ul>
                                <li><a href="/Governorate">Amman </a></li>
                                <li><a href="/Governorate">Balqa</a></li>
                                <li><a href="/Governorate">Zarqa</a></li>
                                <li><a href="#">Madaba</a></li>
                            </ul>
                         </li>
                         <li><a href="#">South Region   <i class="fas fa-caret-right"></i> </a>
                            <ul>
                                <li><a href="#">Karak</a></li>
                                <li><a href="#">Tafilah</a></li>
                               <li><a href="#">Ma'an</a></li>
                               <li><a href="#">Aqaba</a></li> 
                            </ul>
                         </li>
                          
                       </ul>
                    </li>
                    <li><a href="#" class="Nav-a">Services         <i class="fas fa-caret-down"></i>
                    </a>
                       
                       <ul>
                          <li><a href="/KaramFamily">Karam Family </a></li>
                       </ul></li>
                       <li><a href="/contact">Contact</a></li>
                 </ul>
             </nav>
         
             <div class="icons">
                 <i class="fas fa-search" id="search-btn"></i>
                 <i class="fas fa-user" id="login-btn"></i>
                 <i class="fas fa-user-plus" id="signUp-btn"></i>
         
         
             </div>
         
             <form action="" class="search-bar-container">
                 <input type="search" id="search-bar" placeholder="search here...">
                 <label for="search-bar" class="fas fa-search"></label>
             </form>
         
         </header>
     
     
     <!-- sign in form container  --
     
     <div class="login-form-container">
     
        <i class="fas fa-times"  id="form-close1"></i>
     
         <form action="">
             <h3>Sign In</h3>
             <input type="email" class="box" placeholder="enter your email">
             <input type="password" class="box" placeholder="enter your password">
             <input type="submit" value="login now" class="btn">
             <input type="checkbox" id="remember">
             <label for="remember">remember me</label>
             <p>forget password? <a href="#">click here</a></p>
             <p>don't have and account? <a href="#">register now</a></p>
         </form>
     
     </div>

       <!-- sign up form container  --
     
       <div class="signUp-form-container">
        <i class="fas fa-times" id="form-close2"></i>
       
        <form class="form">
            <h3>Sign UP</h3>

            <p class="fieldset">
                <label class="image-replace username" for="signup-username">Username</label>
                <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
            </p>

            <p class="fieldset">
                <label class="image-replace email" for="signup-email">E-mail</label>
                <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
            </p>

            <p class="fieldset">
                <label class="image-replace password" for="signup-password">Password</label>
                <input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Password">
                <a href="#0" class="hide-password">Show</a>
            </p>

            <p class="fieldset">
                <input type="checkbox" id="accept-terms">
                <label for="accept-terms" id="label-formSignUP">I agree to the <a class="accept-terms" href="#0">Terms</a></label>
            </p>

            <p class="fieldset">
                <input class="full-width has-padding" type="submit"  class="btn"value="Create account">
            </p>
        </form>
    
    </div> 
  
-->