<%- include('parts/header'); -%> <%# include header.ejs from view/parts %> 
<%- include('parts/navBar'); -%><%# include nav-bar.ejs [Navigation] from view/parts %> 
   
<link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Train+One&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Train+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       >   
    	<section id="page">
       
        
            	<!-- Article 1 start -->
            <section id="articles"> 
                <h2 id="Title-medical">Top-Rated Tourist Attractions in Jordan</h2>
                <div class="line"></div>
                <article id="article1"> 
                <h1></h1>
                    <h2 id="title-deadsea">Petra</h2>
                    <div class="line"></div>
    
                    <div class="articleBody clear">
                    
                    	<figure>
	                    	<img src="images/petra2.jpg" width="100%" height="100%" /></a>
                        </figure>
                       <p> Prepare to be amazed by Petra. One of the New7Wonders of the World, this attraction has wowed modern-day visitors since the long-lost city's rediscovery by Swiss explorer Jean Louis Burckhardt more than 200 years ago.
                        You'll need at least two days to hit all the highlights around Petra,
                         which include more than 800 registered sites. But if you have more time, 
                         you won't be disappointed spending it here.
                         Wandering around a city this ancient in such a well-preserved state is an experience like none other.
                        Petra wastes no time impressing tourists. Immediately after the entrance, you'll see mysterious Djinn Blocks,
                         imposing stone monuments whose original purpose still remains unknown, followed by the Obelisk Tomb. 
                         It's just a sample of the incredible sites to come. </p>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13775.165087412988!2d35.4443622!3d30.3284544!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x199bf908679a2291!2z2KfZhNio2KrYsdin!5e0!3m2!1sar!2sjo!4v1631822565010!5m2!1sar!2sjo" width="180" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </article>
                
				<!-- Article 1 end -->


				<!-- Article 2 start -->

                <div class="line"></div>
                
                <article id="article2">
                    <h2 id="title-deadsea">Wadi Rum</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	<figure>
                  <img src="images/IMG.jpg" width="100%" height="100%" /></a>
                        </figure>
                        <p>Head to the southern region of Jordan, and you'll be treated to one of the most spectacular landscapes across the globe: Wadi Rum. Also known as the Valley of the Moon, 
                            this sandstone and granite rock valley is an otherworldly experience, with towering cliffs,
                             massive dunes, swirling archways, and caverns. It served as the set for much of the 1962 film Lawrence of Arabia and was tagged a UNESCO World Heritage Site in 2011.
                            Adventure lovers, eat your heart out: The Zalabia Bedouin, a cultural group that lives in the area,
                             have transformed the Wadi Rum into an ecotourism playground. You can ride camels or spirited Arabian horses through the area, 
                             strap on a harness and go rock climbing up the sandstone mountains, hike through canyons, and kick up sand on ATV tours.
                            Ask your tour guide to take you to the Khazali Canyon, where you can see petroglyphs of humans and antelopes that may date as far back as the 8th century BC.
                            
                            
                       </p>
                       
                       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13882.574364729262!2d35.4076008!3d29.555872!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe9885592958b5d07!2z2YXYrdmF2YrYqSDZiNin2K_ZiiDYsdmF!5e0!3m2!1sar!2sjo!4v1631823728086!5m2!1sar!2sjo"  width="180" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </article>
                
				<!-- Article 2 end -->

				<!-- Article 3 start -->

                <div class="line"></div>
                
                <article id="article3">
                    <h2 id="title-deadsea"> Jerash Ruins</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	<figure>
                       <img src="images/1-2.jpg" width="100%" height="100%" /></a>
                        </figure>
                        <p>Nothing feels more like traveling back in time than visiting the Jerash ruins. It's one of the world's best-preserved ancient Roman cities and features spectacular places to visit,
                             from colonnaded avenues and temples to a massive sports arena that once had a seating capacity of 15,000 spectators.
                            Tourists kick off their sightseeing adventure of the Jerash ruins by walking through Hadrian's Arch.
                             The roughly 11-meter-tall structure is magnificent, but even more impressive when you consider it was originally double the size.
                            If that wasn't enough to wow you, wait until you explore what's ahead. The Hippodrome, a sports field constructed around the 2nd century,
                             once hosted chariot races as entertainment for thousands of onlookers. The ancient sport is brought back to life through daily re-enactments, featuring fighting gladiators and chariots racing laps.
                            </p>
                    </div> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13492.922322281425!2d35.8893265!3d32.2787781!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc3bc8fe9ac19669e!2z2YXZiNmC2Lkg2KzYsdi0INin2YTYo9ir2LHZig!5e0!3m2!1sar!2sjo!4v1631824293627!5m2!1sar!2sjo"  width="180" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  
                </article>
                <div class="line"></div>
                
                <article id="article3">
                    <h2 id="title-deadsea">Aqaba</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	<figure>
                       <img src="images/Aqaba-Governorate.jpg" width="100%" height="100%" /></a>
                        </figure>
                        <p>Think you can't have a seaside vacation in the hot, dry Middle East? Think again. Aqaba, a beach town on the southern tip of Jordan, treats tourists to holidays on the breathtaking coastline of the Red Sea.
                            Float, swim, snorkel, or dive — you can do it all from Aqaba. You can also get out on the turquoise water on one of the daily cruises offered by local hotels.
                             Enhance your beach vacation in Jordan with a soak in one of the lovely hammams around the resort town.
                            When you're feeling peckish, dig into the local specialty of Aqaba: sayadieh, 
                            a dish of fish on flavorful rice with onion, tomato, and chili pepper.
                            
                            </p>
                    </div>  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d884578.6090050472!2d35.921557583591344!3d29.99709418279391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x150101626630dd7f%3A0xb65dd8f839344bd2!2z2YXYrdin2YHYuNipINin2YTYudmC2KjYqQ!5e0!3m2!1sar!2sjo!4v1631824803770!5m2!1sar!2sjo" width="180" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
                </article>
                
				<!-- Article 3 end -->
                    
                <article id="article3">
                    <h2 id="title-deadsea">Roman Ruins in Amman</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	<figure>
                       <img src="images/romans.jpg" width="100%" height="100%" /></a>
                        </figure>
                        <p>Head downtown to see one of the most celebrated ruins: the Amman Citadel. Archeologists have found artifacts around the Citadel 
                            that suggest it has been occupied since at least the Bronze Age. Here, 
                            you can see the few columns that remain of the amazing Temple of Hercules, 
                            a significant Roman structure that was never completed. Look for the stone sculpture of several fingers,
                             which were once part of a Hercules statue that may have been more than 12 meters tall.
                             It hints at just how majestic this attraction was during its height.
                             One of the top attractions in Amman for history buffs is the Roman Theater.
                            </p>
                    </div>  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13541.373552359499!2d35.9393536!3d31.9515797!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc5b2f8903093b109!2z2YXYqtit2YEg2KfZhNmF2K_YsdisINin2YTYsdmI2YXYp9mG2Yo!5e0!3m2!1sar!2sjo!4v1631825380721!5m2!1sar!2sjo"  width="180" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
                </article>

                    
                <article id="article3">
                    <h2 id="title-deadsea">Ancient Mosaics of Madaba</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	<figure>
                       <img src="images/imG.jpg" width="100%" height="100%" /></a>
                        </figure>
                        <p>While sightseeing in many destinations demands you look up, the opposite is true in the historic trading city of Madaba. The city is home to the "largest number of mosaics discovered in their original location in the world,
                            " many of which are located on the floors of churches and buildings around the city.
                            The relatively unassuming St. George's Church is home to one of the most noteworthy mosaics in Jordan:
                             the Madaba Mosaic Map. The 6th-century map depicts the Holy Land during the Byzantine period, 
                             showcasing Biblical-era cartography. While some of the original two million tiles are missing, 
                             the remnants of the map still give you an excellent glimpse at what the Middle East looked like many centuries ago.
                            </p>
                    </div>  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13575.951866116804!2d35.7958271!3d31.7162237!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa68ab74887674449!2z2YXYudmH2K8g2YHZhiDYp9mE2YHYs9mK2YHYs9in2KEg2YjYp9mE2KrYsdmF2YrZhSAtINmF2KfYr9io2Kc!5e0!3m2!1sar!2sjo!4v1631825790854!5m2!1sar!2sjo" width="180" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
                </article>

                    
                <article id="article3">
                    <h2 id="title-deadsea"> Wadi Mujib</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	<figure>
                       <img src="images/madi-mujib.jpg" width="100%" height="100%" /></a>
                        </figure>
                        <p>Stretching from the Desert Highway around 70 kilometers to the Dead Sea, 
                            Wadi Mujib is Jordan's answer to America's Grand Canyon. The river canyon,
                             which is four kilometers wide and one kilometer deep, offers nature lovers
                              the chance to explore unique scenery and see a plethora of wildlife,
                              including Egyptian vultures, Nubian ibex, striped hyena, and the Syrian wolf.
                            There's great hiking through the Wadi Mujib gorge, if you don't mind getting a little wet.
                             You can also head to the Mujib Reserve Biosphere to soak in picturesque hot springs just an hour and a half away from Amman.
                            </p>
                    </div>  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d435811.6397774427!2d36.10501664449336!3d31.42023002056884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15035f7099cc0fe1%3A0x933a322c44ff2ab5!2z2YjYp9iv2Yog2KfZhNmF2YjYrNio!5e0!3m2!1sar!2sjo!4v1631826032364!5m2!1sar!2sjo" width="180" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
                </article>
            </section>

            </section>




            <%- include('parts/footer'); -%>
  