<%- include('parts/header'); -%> <%# include header.ejs from view/parts %> 
<%- include('parts/navBar'); -%><%# include nav-bar.ejs [Navigation] from view/parts %> 
<div id="AboutCover">
  <h2  id="info-coverAbout">About Us</h2>

</div>

<section class= "section1-About">
    <div class= "container-About">
      <h1 class= "title-About">Aesh-Aldoor</h1>
      <div class= "content-wrapper-About">
        <div class= "img-wrapper-About">
          <div class= "img-About"> <img src="./images/letsgo2.png" >
          </div>
        </div>
        <div class="text-wrapper-About">
          <p class= "text-AboutPage">A tourist site for the beautiful areas of my country has been called "Live the role" to solve and facilitate many issues on the tourist 
          </p>
          <p class= "text-AboutPage"> And make him live the role of a tour guide and more when he is fully aware of all about his tourist destination which he intends to go to from parks, restaurants, archaeological sites or gardens and museums      
          </p>
       
        </div>
     </div>
    </div>
  </section>
  <%# ----------------------- Our Features of web site ------------------------------ %> 
  <section class= "section2-About">
      


</section>
 <%# -----------------------  End Our Feataures of web site ------------------------------ %> 

 <%# --------------------------- start section Our Team ------------------------ %> 
<section class="About-Our-team">
    <div class="container">

        <div class="row heading">
          <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center text-h">Meet Our Awesome Team</h2>
            <p class="subheading text-center text-h">Creative Nerds</p>
          </div>
        </div>
      
        <div class="row team-row">
          <div class="col-md-4 col-sm-6 team-wrap">
          <div class="team-member text-center">
            <div class="team-img">
              <img src="./images/Ayat.jpeg" alt="">
              <div class="overlay">
                <div class="team-details text-center">
                  <p>
                    Our web design team will spend time with our digital marketing team.
                  </p>
                  <div class="socials mt-20">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="team-title">Ayat Olimat </h3>
            <h3>Finance&banking </h3>
            <h3>Front End Developer </h3>
            <h3>24 years</h3>
            </div>
            </div>
          <!-- end team member -->
      
          <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member text-center">
              <div class="team-img">
                <img src="./images/majeda.jpeg" alt="">
                <div class="overlay">
                  <div class="team-details text-center">
                    <p>
                      Our web design team will spend time with our digital marketing team.
                    </p>
                    <div class="socials mt-20">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <h3 class="team-title">Majeda Amhalhal</h3>
              <h3>Computer Information systems</h3>
              <h3>Front End Developer </h3>
              <h3>25 years</h3>
            </div>
          </div>
        
        </div>
      </div>
</section>
 <%# ---------------------- End Our Team -------------------------- %> 
<!-- ---------------Start Section Contact Us------------------------->
<section class="contact">
    <div class="contact-wrapper">
      <div class="contact-left"></div>
      <div class="contact-right">
        <h1 class="contact-heading">Contact Us</h1>
        <form>
          <div class="input-groupContact">
            <input type="text" class="fieldContact" />
            <label class="input-label">Full Name</label>
          </div>
          <div class="input-groupContact">
            <input type="email" class="fieldContact" />
            <label class="input-label">Email</label>
          </div>
          <div class="input-groupContact">
            <textarea class="fieldContact"></textarea>
            <label class="message-Contact">Message</label>
          </div>
          <input type="submit" class="submit-btn-Contact" value="Submit" />
        </form>
      </div>
    </div>
  </section>
    <%# --------------- End parts Contact us ------------------- %> 
<%- include('parts/footer'); -%>