<%- include('parts/header'); -%> <%# include header.ejs from view/parts %> 
<%- include('parts/navBar'); -%><%# include nav-bar.ejs [Navigation] from view/parts %> 
   
<link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Train+One&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Train+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="./css/Aboutmedical.css" />   
    	<section id="page">
       
        
            	<!-- Article 1 start -->
            <section id="articles"> 
                <h2 id="Title-medical"> Destinations Of Natural Therapeutic Sites In Jordan</h2>
                <div class="line"></div>
                <article id="article1"> 

                    <h2 id="title-deadsea">Dead Sea</h2>
                    <div class="line"></div>
    
                    <div class="articleBody clear">
                    
                    	<figure>
	                    	<img src="images/Dead-sea.jpg" width="820" height="340" /></a>
                        </figure>
                        
                       <p> This area is warm and sunny all year round, with an average temperature of 30.4 degrees Celsius. The wonderful sunshine in the Dead Sea area is harmless to humans, especially its residents. As for the air, it is dry and saturated with oxygen.
                            The Dead Sea is famous for its black mud that is very rich in salts and minerals, and the salinity of the Dead Sea water helps in curing many diseases such as multiple skin diseases And the presence of calcium,
                             magnesium and bromine among the salts of the Dead Sea makes the unique composition of the salts and minerals in those waters one of the important sources of natural healing, </p>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d435268.7350034652!2d35.77047749153879!3d31.536874336561343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15033c2eaf9fbba1%3A0xf38cff48a0c15882!2z2KfZhNio2K3YsSDYp9mE2YXZitiq!5e0!3m2!1sar!2sjo!4v1630275490409!5m2!1sar!2sjo" width="180" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </article>
                
				<!-- Article 1 end -->


				<!-- Article 2 start -->

                <div class="line"></div>
                
                <article id="article2">
                    <h2 id="title-deadsea">Hammamet Ma'in </h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	<figure>
                  <img src="images/Ma'in.jpg" width="620" height="340" /></a>
                        </figure>
                        <p>Hammamet Ma'in  is one of the famous tourist places in Jordan. It is about 58 m from the southern side of Amman.
                            It is also located 27 m from the city of Madaba, and is characterized by its lowness from sea level, 
                            reaching about 120 m, and perhaps the most important thing that distinguishes it is the presence of many springs inside. It reaches about 63 springs with varying temperatures, and in this article we will mention some detailed information about them in general in this report.
                           The temperature of the mineral springs in Ma’in reaches about 43 degrees Celsius,
                            and this water pours after its flow from the highest peaks to the bottom of the mountain, which is also 264 meters below sea level,
                             to walk warm in the valley before pouring into the Zarqa River.
                       </p>
                       
                       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13591.565909758716!2d35.6104306!3d31.6094333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8bde7907a1dce411!2z2K3Zhdin2YXYp9iqINmF2KfYudmK2YY!5e0!3m2!1sar!2sjo!4v1630189991935!5m2!1sar!2sjo" width="180" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </article>
                
				<!-- Article 2 end -->

				<!-- Article 3 start -->

                <div class="line"></div>
                
                <article id="article3">
                    <h2 id="title-deadsea">jordanian hamma</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	<figure>
                       <img src="images/resize.jpeg" width="620" height="340" /></a>
                        </figure>
                        <p>Al-Hamma is located 100 kilometers north of Amman, and is considered one of the most vital medical and tourist sites in the region.
                             A resort and some clinics have been established that provide many services to visitors to that area.
                              There is a center for people suffering from diseases and respiratory problems, 
                              as well as centers that provide treatment for skin diseases and diseases related to the nervous system and joints. On the other hand,
                               Al-Hamma Hotel can provide a haven for people who may want to stay more than one night.</p>
                    </div> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13429.525463449474!2d35.69038771644722!3d32.70249244591116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c6d29748c4f6f%3A0x291c8bb5757f6a0e!2z2KfZhNit2YXYqSDYp9mE2KPYsdiv2YbZitip!5e0!3m2!1sar!2sjo!4v1630190149809!5m2!1sar!2sjo" width="180" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  
                </article>
                <div class="line"></div>
                
                <article id="article3">
                    <h2 id="title-deadsea">Baths of Afra</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	<figure>
                       <img src="images/Afraa (1).jpeg" width="620" height="340" /></a>
                        </figure>
                        <p>Tafileh - Baths of Afra are located about 35 km north of Tafileh after passing through the Barbita torrent,
                             where a winding and bumpy road descends to the visitor to the place surrounded by high mountains on both sides.
                             They were created by the Creator's hand, as sand caves that formed a 
                             habitat for some of the inhabitants of the place, instead of homes.
                             A small number of residents live around the area and work in the cultivation of
                            vegetables that are irrigated with permanent water, and you can see vegetable farms and some types of 
                            trees on both sides that receive their water from the torrent over a distance of no less than 15 kilometers.</p>
                    </div>  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13684.256879142718!2d35.6415626!3d30.96869!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd4f0bfbbe4f12c45!2z2K3Zhdin2YXYp9iqINi52YHYsdin!5e0!3m2!1sar!2sjo!4v1630189744736!5m2!1sar!2sjo" width="180" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
                </article>
                
				<!-- Article 3 end -->
            </section>

            </section>




            <%- include('parts/footer'); -%>
  