<%- include('parts/header'); -%> <%# include header.ejs from view/parts %> 
<%- include('parts/navBar'); -%><%# include nav-bar.ejs [Navigation] from view/parts %> 
<link rel="stylesheet" href="./css/Ajloun.css">
  <!-- ------------ Slider images cover ------------------ -->
      
<section class="home-Cities" id="home-Cities">

    <div class="content">
        <h3>adventure is worthwhile</h3>
        <p>dicover new places with us, adventure awaits</p>
    </div>

    <div class="controls">
        <span class="vid-btn active" data-src="/Videos/video2.mp4"></span>
        <span class="vid-btn" data-src="/Videos/video4.mp4"></span>
        <span class="vid-btn" data-src="/Videos/video5.mp4"></span>
        <span class="vid-btn" data-src="/Videos/video3.mp4"></span>
        <span class="vid-btn" data-src="/Videos/video6.mp4"></span>
</div>
    <div class="video-container">
        <video src="/Videos/video2.mp4" id="video-slider" loop autoplay muted></video>
    </div>
</section>

<!-- home section ends -->
<section class="info-page-Governorate">
 <h2> WElcome TO Ajloun City </h2>
   <p id="para-governorateTop ">
     city located in the northwest of Jordan, which is a city surrounded by high mountains known as the Ajloun mountain range.</p>
    <form action="#">
    <label for="Region">Choose A Region Name:</label>
    <select name="Region" id="Region">
      <option value="Amman Citadel"> Rajeb Falls</option>
      <option value="Jabal Al Weibdeh">Rason Tourist Trail</option>
      <option value="Downtown">Wadi Kafranjeh </option>
      <option value="Marca" >Ajloun Nature Reserve</option>
      <option value="Mogableen">Ibbin Iblin area</option>
     </select>
     </section> 

     
              <section class="grid-photo">
               <div class="parent">
               <div class="contianer">
               <div class="col-1">
               <div id="pic-museum"  class="img-grid-KInds">
                <img src="./images/Jordan-Museum.jpg" >
                <input type="checkbox" id="Museums" name="place-InAmman" value="Museums">
                <label for="Museums"> Museums</label>
               </div>
               <div id="pic-resortPoll"  class="img-grid-KInds">
                <img src="./images/resort-pool.jpeg" >
                <input type="checkbox" id="Resort-poll" name="place-InAmman" value="Resort-poll">
                <label for="Resort-poll"> Resort Poll</label>
           
               </div>
               </div>
                <div class="col-2">

                <div id="pic-Restaurants" class="img-grid-KInds" >
                    <img src="./images/restaurantJordan .jpg">

                    <input type="checkbox" id="Restaurants" name="place-InAmman" value="Restaurants">
                    <label for="Restaurants"> Restaurants</label>
               
                   
                   </div>
                   <div id="pic-Rsort-beach"  class="img-grid-KInds">
                    <img src="./images/resort-beach.jpeg" >
                    <input type="checkbox" id="Resort-beach" name="place-InAmman" value="Resort-beach">
                    <label for="Resort-beach"> Resort-beach</label>
                   
                   </div>
                  </div>
                <div class="col-3">
                <div id="pic-Markets"  class="img-grid-KInds">
                    <img src="./images/marketts.jpg">
                    <input type="checkbox" id="Market" name="place-InAmman" value="Market">
                    <label for="Market"> Market</label>
                   </div>
                   <div id="pic-garden"  class="img-grid-KInds">
                    <img src="./images/garden.jpg">
                    <input type="checkbox" id="Garden" name="place-InAmman" value="Garden">
                    <label for="Garden"> Garden</label>
                   </div>
                  </div>
                  <div class="col-4">

                  <div id="pic-Archaeological-Areas"  >
                    <img src="./images/Roman_amphitheatre_Amman.jpg" >
                    <input type="checkbox" id="Archaeological-Areas" name="place-InAmman" value="Archaeological-Areas">
                    <label for="Archaeological-Areas"> Archaeological-Areas</label>
              
                   </div>
                <div id="pic-Farmer"  class="img-grid-KInds" >
                    <img src="./images/farmer.jpg" >
                    <input type="checkbox" id="Farmer" name="place-InAmman" value="Farmer">
                    <label for="Farmer"> Farmer</label>
                  
                   </div>
                  </div>
               </div>
            </section>
    
       <input type="submit" value="search" id="search-region">
   </form>

<%# ----------------- details place in amman with explain --------------------- %> 

  <!-- Loader -->
  
<section class="placeAmmaninfo">
  <div class="container">
    <div class="tm-top-bar1"></div>

    <!-- Welcome section -->
    <section class="tm-welcome">

      <div class="tm-welcome-left">
        <!-- Logo -->
        <div class="tm-logo">
          <h1 class="tm-site-name">Ajloun</h1>
        </div>
        <div class="tm-welcome-content">
          <!-- fa icons -->
          <div class="tm-welcome-icons-container">
            <i class="fas fa-crown fa-5x tm-welcome-icon"></i>
            <i class="fas fa-heart fa-5x tm-welcome-icon"></i>
          </div>

          <h2 class="tm-mb-25">Ajloun is a city located in the northwest of Jordan</h2>
          <p class="tm-font-big">, which is a city surrounded by high mountains known as the Ajloun mountain range. It was known to the ancients by the name (Gilad), which means hardness or roughness, and Ajloun was known by this name in relation to the name of a monk who lived in Jabal Awf in the Citadel region. Salah al-Din al-Ayyubi, where Izz al-Din Osama, one of his army commanders, ordered the construction of the fortress on the top of Jabal Awf in the year (580 AH - 1184 AD). </p>
        
        </div>
      </div>
      <div class="tm-welcome-right"></div>

    </section>
    <div class="tm-bar-2"></div>

    <section class="row tm-section-mb tm-section-2" value="Sweileh">
      <div class="col-md-12 tm-section-2-inner">
        <div class="tm-section-2-left">
              <div class="tm-img-container tm-img-container-1"></div>
              <div class="tm-img-container tm-img-container-2"></div>
        </div>
        <div class="tm-section-2-right tm-bg-primary">
          <div class="tm-section-2-text">
            <h3 class="tm-section-2-header tm-mb-45">HISTORY & CULTURE
            </h3>
            <h1>Ajloun Nature Reserve </h1>
           <p id="tm-section-2-textP">
            Ajloun Forest Reserve is a natural reserve located in the north of the Hashemite Kingdom of Jordan in a northern part of Ajloun Governorate, 8 km north of the governorate center. This reserve was called Zobia Reserve, located in the Barqash area within the lands of Irbid, where the brown deer breeding program began. After that, the reserve moved to the Umm al-Yanabe’ area northwest of Barqash, which is among the lands of Ajloun after the establishment of the Ajloun Governorate.<br>          <p id="tm-section-3-textP"><b>Contact information:<br>Telephone:</b> 00962 6 5736177<br><b>Social media: </b><a href=https://www.facebook.com/sarayaaqabawaterpark target="_blank">http://www.fb.com/climbatAqapa</a><br><b><a href="https://www.google.com/maps/place/%D9%82%D9%84%D8%B9%D8%A9+%D8%A7%D9%84%D8%B9%D9%82%D8%A8%D8%A9%E2%80%AD/@29.5213762,35.0020413,15z/data=!4m5!3m4!1s0x0:0x567d96567da954a3!8m2!3d29.5213762!4d35.0020413" target="_blank">Location</a></b></p>
        </div>
      </div>
    </section>

    <section class="row tm-section-3">
      <div class="col-md-12 tm-section-3-inner">
        <div class="tm-section-3-left tm-bg-primary">
          <div class="tm-section-3-text">
            <h3 class="tm-section-2-header tm-mb-45">Activities
            </h3>
            <h2>Wadi Kufranja </h2>
            <p>
                Wadi Kafranjeh or Wadi Ajloun is a valley that extends between Kufranja and Ajloun, where the rains descending from Ajloun end and flow into the Jordan River at a depression of 230 meters above sea level. It was also called the Valley of the Mills in relation to the mills scattered on its banks, and annually about 6 million cubic meters of water flows from it and pours into the Jordan River.
            </p>
            <p id="tm-section-3-textP"><b>Contact information:<br>Telephone:</b> 00962 6 5736177<br><b>Social media: </b><a href=https://www.facebook.com/sarayaaqabawaterpark target="_blank">http://www.fb.com/climbatAqapa</a><br><b><a href="https://www.google.com/maps/dir/32.315391,36.2088308/Aqaba+Water+Park+Aqaba/@30.908244,37.8637109,7z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x15007159d9ffb867:0x5375730f274bb32e!2m2!1d34.9981777!2d29.5396785"target="_blank">Location</a></b></p>
          </div>
        </div>
        <div class="tm-section-3-right">
          <div class="tm-img-container tm-img-container-3"></div>
        </div>
      </div>
  </section>

</section>
<%# ------------------------------------------------------------------============== %> 
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107868.6130891012!2d35.83728902170642!3d32.341550850957645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c87da460049bd%3A0x3fbf8443e03b269a!2z2LnYrNmE2YjZhg!5e0!3m2!1sar!2sjo!4v1632301628618!5m2!1sar!2sjo" width="103%" height="500px" frameborder="2" style="border:0" allowfullscreen id="mapsAmman"></iframe>
 
<pre>
    .
    . 
    . 
    ,
     
    . 
    .
    .
    . 
    . 
    ,
     
    . 
    . 
    .
    . 
    . 
    ,
     
    . 
    . 
    .
    . 
    . 
    ,
     
    . 
    . 
    .
    . 
    . 
    ,
     
    . 
    . 
    .
    . 
    . 
    ,
     
    . 
    . 
    .
    . 
    . 
    ,
     
    . 
    . 
    .
    . 
    . 
    ,
     
    . 
    .  
    
</pre>
<!---------------------------------Show some place Amman ----------------------------->
<div class="all-place-Amman">
<h1 id="Most-PoplurePlace"> Most Poplure Places</h1>
    <div class="container-placeAmman">
	
        <div class="item tm1">
            <img src="./images/متحف السيارات الملكي .png" class="im-place-Amman">
        <p>The Royal Automobile Museum </p>
    </div>
    
    
        <div class="item tm2">
            <img src="./images/جبل-القلعة-في-عمان.jpg" class="im-place-Amman">
        <p>Amman Citadel </p>
        </div>
    
            <div class="item tm3">
                <img src="./images/المدرج-الروماني-في-عمان-1.jpg" class="im-place-Amman">
        <p class="ar">Roman Theater </p>
        </div>
    
        <div class="item tm4">
            <img src="./images/حدائق الحسين.jpg" class="im-place-Amman">
        <p> Al Hussein Public Parks </p>
        </div>
        <br>
        <span>
            <div class="item tm5">
            <img src="./images/مطاعم-ورد.jpg" class="im-place-Amman"> 
        <p> Ward Restaurants </p>
    </div>
    
    
        <div class="item tm6">
            <img src="./images/المسبح-الأولومبي.jpg" class="im-place-Amman">
        <p>Olympic swimming pool<br> (Al-Hussein Youth City) </p>
        </div>
    
            <div class="item tm7">
                <img src="./images/souk-jara.jpg" class="im-place-Amman">
        <p>‪Souk Jara‬</p>
       </div>
    <span>
    <br>
        <div class="item tm8">
            <img src="./images/دار-اﻷندى.jpg" class="im-place-Amman">
        <p>Andi House<br>
            Art gallery</p>
    </div>
        <div class="item tm2">
            <img src="./images/The Boulevard .jpg" class="im-place-Amman">
        <p>The Boulevard  </p>
        </div>
    
            <div class="item tm3">
                <img src="./images/Rainbow Street.png" class="im-place-Amman">
        <p>Rainbow Street</p>
        </div>
    
        <div class="item tm4">
            <img src="./images/Children museum.jpg" class="im-place-Amman">
        <p> Children museum </p>
        </div>
        </div>
        </div>
        </div>

<%# ------------------------------------------------------------------------ %>

<%- include('parts/footer'); -%>