<%- include('parts/header'); -%> <%# include header.ejs from view/parts %> 
<%- include('parts/navBar'); -%><%# include nav-bar.ejs [Navigation] from view/parts %> 
	

			<div class="medical">
				<h3 id="top-text">Cultural tourism in Jordan</h3>
				<img id="top-img"  src="images/petraa.jpg " width="100%" >
				<div id="featured">
					<p>Jordan contains many ancient monuments; Which attracts tourists from all over the world, such as castles and mosaics that were a product and legacy of many civilizations and empires that lived on Jordanian lands, in addition to the Roman amphitheaters,[1] theaters, temples and others; Therefore, Jordan is one of the most important tourist destinations from an archaeological and historical point of view in the Arab world, and it is also considered as an open museum because it contains many palaces and archaeological sites left by civilizations several centuries ago.[2] It should be noted that Jordan has witnessed a succession of many From civilizations over time, such as: Roman, Byzantine, Islamic, early Christianity, and others.</p>
              
				</div>
                    <section>
                <div>
				<p id="info-medical">
                    You can also learn about the customs and traditions of the Jordanian people, and visit a large number of archaeological sites such as the city of Petra, Jerash and other distinguished sites. , and the Roman amphitheater.</p>
					   <div class="culture-event">
					   <h3 id="factors-medical">The importance of archaeological tourism in Jordan
</h3>
					   <p>The Jordanian cultural heritage sites are among the most important factors attracting tourists to Jordan from abroad,[4] and the archaeological sites in Jordan are considered the cornerstone of the tourism sector, as they show all the landmarks of the civilizations that followed the history of Jordan; To become a destination for tourists from all over the world, and the tourism sector is one of the most important pillars of the Jordanian economy, and viewing archaeological sites allows visitors to travel in the past and imagine the kingdoms that passed through them, and feel the historical importance of those sites; Its ruins tell tales of valor and show off the beauty of the architecture, leaving tourists marveling at the great monumental structures.</p>      
                       </div>
                       <div class="info-monuments">
                         <h4>The development of archaeological tourism in Jordan</h4>
                         <p class="parq">Jordan contains many cultural heritage resources, and archaeological sites are among the important resources of the country. Jordan is distinguished by its local and international famous tourist attractions. A cultural heritage sustainability project has been developed with the participation of local communities; In order to preserve these resources,[13] it is worth noting the great interest that the Jordanian government attaches to the tourism sector, by ensuring that archaeological sites are not subjected to any abuse as evidence of history. The government also encourages the private sector to invest in the tourism sector and provides opportunities and incentives for it. For this, in addition to carrying out the necessary infrastructure works for the establishment of investment projects in tourist sites, and others..</p>
                           
                             </div>
                        
                       <div class="info-monuments">
                       <h4>Jordan's monuments and palaces</h4>
                       <p>The successive civilizations that passed through Jordan left many great monuments, heritage and historical palaces that made Jordan an important historical and heritage place and 
                           one of the most important tourist and archaeological sites in the Arab world.
                        Petra, the ruins of Jerash, Umm Qais, Madaba, Karak, Ajloun, Qusair Amra, Umm al-Rasas,
                         Qal'at al-Shobak, Qasr al-Abd, al-Mashta, al-Hallabat, al-Harana, al-Raqi' and others.</p>
                       
                    </div>
                    </div>
                    </section>

                    <section>
                         <h3 id="info-med">The most prominent archaeological sites in Jordan</h3>				
                             <ul class="blog">
                                  <li>
                                       <div>
                                            <img src="images/petra2(1).jpg"   alt=""/></a>
                                       <h3>petra</h3>
                                            <p>An archaeological and historical city located in Ma'an Governorate.</p>
                                            <a href="/Aboutculture">Click to read more</a>
                                       </div>
                                  </li>
                                  <li>
                                       <div>
                                            <img src="images/1-2(2).jpg"  alt=""/></a>
                                       <h3>The ancient city of Jerash
                                   </h3>
                                            <p>Jerash is located in the northwestern part of the Kingdom.</p>
                                            <a href="/Aboutculture">Click to read more</a>
                                       </div>
                                  </li>
                                  <li>
                                       <div>
                                            <img src="images/imG1.jpg" alt=""/></a>
                                            <h3>Mosaic map of Madaba </h3>
                                            <p> oldest original map of the Holy Land (Byzantine era).</p>
                                            <a href="/Aboutculture">Click to read more</a>
                                       </div>
                                  </li>
                             </ul>
                        </div>	
                        </section>
			<%- include('parts/footer'); -%>