<%- include('parts/header'); -%> <%# include header.ejs from view/parts %> 
<%- include('parts/navBar'); -%><%# include nav-bar.ejs [Navigation] from view/parts %> 


   
  

<div class="main">
  <div class="d1"></div>
  <div class="d2"></div>
  <div class="d3"></div>
  <div class="d4"></div>
</div>
<section class="details-info">
<div>
  Hashemite Kingdom of Jordan 
 <span><img src="./images/guide-book(1).png"> THE GUIDE  </span> 
</div>
</section>

<!-- ------------------ More praragraphs with images  right aside ----------------- -->
<section id="InformationParagraPH1-details" class="pagrah-details">
    <p>
      <span> Hashemite Kingdom of Jordan  </span> 
      Jordan is a sovereign Arab state in the Middle East. The capital, Amman,
      is Jordan's most populous city as well as the country's economic, political and cultural centre.
      Its major tourist attractions include visiting historical sites. 
    </p >
    <img src="./images/jordDeatils.jpg">
    </section>
<section id="InformationParagraPH2-details"  class="pagrah-details">
  <img src="./images/map-international.jpg">
    <p>
      
      like the worldwide famous Petra (UNESCO World Heritage Site since 1985, and one of New Seven Wonders of the World), the Jordan River, Mount Nebo, Madaba, 
      numerous medieval mosques and churches, and unspoiled natural locations (as Wadi Rum and Jordan's 
      northern mountainous region in general), 
      as well as observing cultural and religious sites and traditions.
      Jordan also offers health tourism, which is focused in the Dead Sea area, education tourism, hiking, snorkeling and scuba diving in Aqaba's coral reefs, pop-culture tourism and shopping tourism in Jordan's cities. More than half of the approximate 4.8 million Arab tourists in 2009, mainly from the GCC, said they plan to spend their holidays in Jordan.
    </p>
  </section>



<%# -------------------------- Ancient sites  -------------------- %> 
<h2 class="headingDetailsPage">
  <span>A</span>
  <span>n</span>
  <span>c</span>
  <span>i</span>
  <span>e</span>
  <span>n</span>
  <span>t</span>
  <span class="space"></span>
  <span>S</span>
  <span>i</span>
  <span>t</span>
  <span>e</span>
  <span>s</span>
</h2>
<section class="Ancient-sites" >
  <div class="pagrah-details" id="parag-3">
    <img src="./images/history-icons.png" width="80px" height="90px" id="history-icons">
  


    <p id="part-parag1Ancient">
<span> Petra</span> in Wadi Musa, home of the Nabateans,is a complete city carved  in a mountain. 
The huge rocks are colorful, mostly pink, and the entrance to the ancient
city is through a 1.25 km narrow gorge in the mountain—called the Siq. In the city are 
various structures,</p> all (except 2) are carved into rock, including al Khazneh – known as 
the Treasury – which has been designated as one of the "New Seven Wonders of the World"
by the for-profit New Open World Corporation. Other major sites of interest in Petra include 
the Monastery, the Roman theater, the Royal Tombs, the High Place of Sacrifice. Petra was
rediscovered for the Western world by Swiss explorer Johann Ludwig Burckhardt in 1812. 
It was inscribed as a UNESCO World Heritage Site in 1985.<br><br>

<span>Umm Qais</span>  a town on the site of the ruined Hellenistic–Roman city<br>
<span>Jerash </span> famous for its ancient Roman architecture,
with colonnaded streets, Corinthian arches, outdoor Roman Theaters and the Oval Plaza.<br>
<span>Shoubak</span> with its Crusader castle, "Crac de Montreal", marking both the eastern and southern frontier of Crusader expansion.
<br><span>Ajloun </span> a medieval Crusader castle<br>
<span>Al Karak</span> contains an important castle from the times of Salah al-Din, known as Al-Karak Castle.<br></div>
<img src="./images/tourist-with-thumb-up.jpg" id="Ancient-aside-img" ><br>
<div id ="aside-img-Ancient" >

<span>Umm el-Jimal</span>, the so-called "Black Gem of the Desert", was once a town on the margins of the Decapolis. Rural and well to do, it was a fitting contrast to the surrounding busy cities. Its black basalt mansions and towers, 
some still standing three stories high, have long inspired poets.<br>
<span>Qasr Amra</span>, one of the best preserved Umayyad Islamic period monuments. Its interior walls and ceilings are covered with unique frescoes, and two of the rooms are paved with colourful mosaics. It, too, is a World Heritage Site.
<br><span>Umm ar-Rasas</span>, inscribed as a UNESCO World Heritage Site in 2005, these ruins show a mix of Roman,
Byzantine and early Muslim architecture. Among its treasures is the largest church mosaic floor 
in the country; newer discoveries are possible as the site has not been completely excavated
  </div>
  

</section>



 


<section class="video-design">

<span>watch it </span>
  <video controls>
  
    <source src="./Videos/JOrdan.mp4" type="video/mp4" >
  
  </video>
  </section>
 
<%# ----------------------------------------------  %> 
  <section class="details-tourist-site">
    <div class="section-sites">
      <h1 class="section-heading">Tourist Sites In Jordan </h1>
      <div class="underline"></div>
    </div>
    <div class="cards-wrapper">
      <div class="card" data-tilt>
        <div class="card-img-wrapper">
          <img src="./images/deadSEa.jpeg" alt="CEO" />
        </div>
        <div class="card-info">
          <h2>Seaside sites</h2>
          <h3> The Dead sea</h3>
          <p>
            It is the lowest point on earth, 402 metres (1,319 ft) below sea level,[3] and becomes 1 meter lower each year. It is the only depository of River Jordan and was part of the biblical kingdoms of Midianites and later the Moabites. The Dead Sea area is home to numerous world-class resorts such as the Kempinski, Mövenpick and Marriott. In addition, there are water parks, a public beach and international restaurants. The ultra-chic destination in the area, however, is the O-Beach which is home to cabanas, bars, international restaurants, and a beach club.

          </p>
          
        </div>
      </div>

      <div class="card" data-tilt>
        <div class="card-img-wrapper">
          <img src="./images/muwakir.jpg" alt="Designer" />
        </div>
        <div class="card-info">
          <h2>Religious tourist sites</h2>
          <h3>Muwakir</h3>
          <p>
            (Arabic for Machaerus) was the hilltop stronghold of Herod the Great. Upon Herod's death, his son Herod Antipas inhabited the fortress, and ordered John the Baptist to be beheaded there and where the fabled Salomé daughter of Herodias is said to have danced the famous Dance of the Seven Veils thus asking for John the Baptists' head.
          </p>
        </div>
      </div>
      <div class="card" data-tilt>
        <div class="card-img-wrapper">
          <img src="./images/Mujib Nature Reserve.jpg" alt="Architect" />
        </div>
        <div class="card-info">
          <h2>Natural reserves</h2>
          <h3>Mujib Nature</h3>
          <p>
            – the lowest nature reserve in the world, with a spectacular array of scenery near the east coast of the Dead Sea. The reserve is located within the deep Wadi Mujib gorge, which enters the Dead Sea at 410 metres below sea level. The Reserve extends to the Kerak and Madaba mountains to the north and south, reaching 899 metres above sea level in some places. Wadi Mujib enjoys a magnificent bio-diversity that is still being explored and documented today. Over 300 species of plants, 10 species of carnivores and numerous species of permanent and migratory birds have been recorded.
          </p>
         
        </div>
      </div>
    </div>
  </section>
    <pre>
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .



      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .



      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .



      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .

      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
      .
    </pre>


    <%- include('parts/footer'); -%>
