<%- include('parts/header'); -%> <%# include header.ejs from view/parts %> 
<%- include('parts/navBar'); -%><%# include nav-bar.ejs [Navigation] from view/parts %> 
 
<%#  ------------------  cover Karam Family --------------------- %> 
<div class="coverKaram">
    
        <div class="video-wrapper-Karam">
          <video src="./Videos/video.mp4"></video>
        </div>
        <div class="info-coverKaram">
          <h2>Karam Family</h2>
          <p>KARAM FAMILY
            People Who Host Tourists For Several Days And Introduce Them To The History Of Jordan And Honor Them With Jordanian Folk Food. </p>
        </div>
       </div>

    <%# --------------- Member Karam Family -------------------  %> 
    <div id="container-KaramMember">	
	<div class="product-details">
	<h1> " Abo AL-ABD " </h1>
	<p class="information-MemberKaram">Receiving incoming foreigners and hosting them at home for a sum of money.<br>
    <b>Contact information:<br></b><b>Telephone: </b>00962 79 787 8248<br><b>Social media: </b><a href="http://www.facebook.com/Abo AL-ABD ">http://www.facebook.com/Abo AL-ABD </a><br><b><a href="https://www.google.com/maps/place/WWXJ%2BV4/@31.9496875,35.9281238,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d31.9496875!4d35.9303125" target="_blank">Location</a></b></p>
		
		
    <div class="control-KaramMember">
	
	<button class="btn-MemberKaram"> 
    <span class="price">25$ per day </span>
   <span class="phone-cart"><i class="fa fa-phone" aria-hidden="true"></i></span>
   <span class="call-member">Call now</span>
   </button>
   </div>		
   </div>
	
    <div class="member-image">
    <img src="./images/كرم.jpg" alt="">

	

    <div class="info-memberKa">
	<h2> Services</h2>
	<ul>
		<li><strong>House </strong><i class="fa fa-check" aria-hidden="true"></i> </li>
		<li><strong>Heritage evenings </strong><i class="fa fa-check" aria-hidden="true"></i> </li>
		<li><strong>Traditional food   </strong><i class="fa fa-check" aria-hidden="true"></i> </li>
		<li><strong>Trips with the family  </strong><i class="fa fa-check" aria-hidden="true"></i> </li>
        <li><strong>Get to know my country  </strong><i class="fa fa-check" aria-hidden="true"></i> </li>
	</ul>
</div>
</div>

</div>

<%# ----------------- ------------------ Second member ---------------------------------------------- %> 
    <div id="container-KaramMember">	
	<div class="product-details">	
	<h1> " ALI-ALSAEED " </h1>
	<p class="information-MemberKaram">Receiving incoming foreigners and hosting them at home for a sum of money<br>
    <b>Contact information:<br></b><b>Telephone: </b>00962 79 787 8248<br><b>Social media: </b><a href="http://www.facebook.com/ALI-ALSAEED">http://www.facebook.com/ALI-ALSAEED</a><br><b><a href="https://www.google.com/maps/place/WWXJ%2BV4/@31.9496875,35.9281238,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d31.9496875!4d35.9303125" target="_blank">Location</a></b></p>	
    <div class="control-KaramMember">
	<button class="btn-MemberKaram">
	 <span class="price">15$ per day </span>
   <span class="phone-cart"><i class="fa fa-phone" aria-hidden="true"></i></span>
   <span class="call-member">Call now</span>
   </button>
	
   </div>		
   </div>
	
   <div class="member-image">
   <img src="./images/اهل الكرم 2.jpg" alt="">
   <div class="info-memberKa">
	<h2> Services</h2>
	<ul>
		<li><strong>House </strong><i class="fa fa-check" aria-hidden="true"></i> </li>
		<li><strong>Heritage evenings </strong><i class="fa fa-check" aria-hidden="true"></i> </li>
        <li><strong>Get to know my country  </strong><i class="fa fa-check" aria-hidden="true"></i> </li>
	</ul>
   </div>
   </div>
   </div>
<%# ----------------------------- Third Member ---------------------- %> 
    <div id="container-KaramMember">	
	<div class="product-details">	
	<h1> " Aljod " </h1>
	<p class="information-MemberKaram">Receiving incoming foreigners and hosting them at home, free of charge.<br>
    <b>Contact information:<br></b><b>Telephone: </b>00962 79 787 8248<br><b>Social media: </b><a href="http://www.facebook.com/Aljod">http://www.facebook.com/Aljod</a><br><b><a href="https://www.google.com/maps/place/WWXJ%2BV4/@31.9496875,35.9281238,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d31.9496875!4d35.9303125" target="_blank">Location</a></b></p>	
    <div class="control-KaramMember">
	<button class="btn-MemberKaram">
	 <span class="price">free  </span>
     <span class="phone-cart"><i class="fa fa-phone" aria-hidden="true"></i></span>
     <span class="call-member">Call now</span>
     </button>
	</div>			
    </div>
   <div class="member-image">
   <img src="./images/كرررم.jpeg" alt="">
   <div class="info-memberKa">
	<h2> Services</h2>
	<ul>
		<li><strong>Heritage evenings </strong><i class="fa fa-check" aria-hidden="true"></i> </li>
		<li><strong>Trips with the family  </strong><i class="fa fa-check" aria-hidden="true"></i> </li>
        <li><strong>Get to know my country  </strong><i class="fa fa-check" aria-hidden="true"></i> </li>
	</ul>
    </div>
    </div>
    </div>

<%# ---------------------collection  Images Member ------------------------ %> 

<section class="CollectionImg-Karam" >

<div class="itemMember tm-Karam1">
		<img src="./images/الكرم4.jpg">
	<p class="ar">Jordan Family</p>
</div>

<div class="itemMember tm-Karam2">
		<img src="./images/اهل الكرم 3.jpg">
	<p class="ar">Jordan Family</p>
</div>

<div class="itemMember tm-Karam3">
		<img src="./images/اهل-الكرم .jpg">
	<p class="ar">Jordan Family</p>
</div>

<div class="itemMember tm-Karam4">
		<img src="./images/كرم.jpg">
	<p class="ar">Jordan Family</p>
</div>
</section>
<%- include('parts/footer'); -%>
