<%- include('parts/header'); -%> <%# include header.ejs from view/parts %> 
<%- include('parts/navBar'); -%><%# include nav-bar.ejs [Navigation] from view/parts %> 
		<link rel="stylesheet" href="css/medical.css" type="text/css" />

			<div class="medical">
				<h3 id="top-text">Medical tourism in Jordan</h3>
				<img id="top-img"  src="images/shutterstock_1-scaled-1000x667.jpeg " width="100%" >
				<div id="featured">
					<p>Jordan has occupied a prominent position among the countries of the world in the field of medical tourism in recent years.
						 This is due to its moderate climate and beautiful nature, in which all the elements of natural treatment are available; 
						 Of hot water rich in salt, and volcanic mud, and the qualitative leap in the field of providing medical and health services,
						  and the availability of specialized and distinguished medical staff in the fields of heart surgery and micro-surgery,
						   and their relatively low costs compared to the countries of the world; Making it a suitable and available tourist and medical destination for all,
						    It should be noted that Jordan ranks fifth in the world and first in the Middle East and North Africa as a destination for medical tourism.
					</p>
				</div>
				<p id="info-medical">Jordan has achieved wide fame and an important hub among the countries of the world in the field of medical tourism,
					 in addition to providing an advanced level of treatment services at competitive prices;
					  Which made it a magnet for tourists from all over the world; About 300,000 medical tourists come annually to receive treatment and recreation in its health resorts,
					   which provide all means of care and attention from highly qualified health cadres, modern hospitals, and modern and specialized medical centers.</p>
					   <div>
					   <h3 id="factors-medical">Factors that distinguish Jordan<br> in medical tourism</h3>
					   <p>The reason why Jordan ranked first regionally and among the top ten countries in the world in the field of medical tourism
						    is due to a number of factors and reasons, including the following:</p>
								<li>Jordan was distinguished by its geographical location, security and political stability, flexibility of legislation and laws related to the health sector, and flexibility of entry and exit from the Jordanian borders.</li>
								<li>Many private hospitals provide international standards, in addition to the fact that the majority of Jordan's public and private hospitals have obtained local and international accreditations.</li>
								<li>The spread of therapeutic resorts and medical centers in various regions of Jordan; such as the Dead Sea, Ma'in Baths, and others.</li>
								<li>The high quality of medical services provided, in addition to the low prices for treatment, and the lack of waiting time to receive treatment.</li>

            </div>
            <section>
                <h3 id="info-med">The most famous medical tourism sites in Jordan </h3>				
				<ul class="blog">
					<li>
						<div>
							<img src="images/maan_optimized (1) (1).jpg"   alt=""/></a>
						<h3>Hammamet Ma'in</h3>
							<p>Ma'in Hammamet is located 58 kilometers south of Amman</p>
							<a href="/aboutmedical">Click to read more</a>
						</div>
					</li>
					<li>
						<div>
							<img src="images/resize (2).jpeg"  alt=""/></a>
						<h3>Afra Baths</h3>
							<p>Afra Baths are mineral water baths located 26 kilometers north of the city of Tafileh.</p>
							<a href="/aboutmedical">Click to read more</a>
						</div>
					</li>
					<li>
						<div>
							<img src="images/Alhema.jpg" alt=""/></a>
							<h3>Al-Hamma Al-Jordaniyah </h3>
							<p>Al-Hamma Al-Jordaniyah is a residential area located in Bani Kinana District .</p>
							<a href="/aboutmedical">Click to read more</a>
						</div>
					</li>
				</ul>
			</div>	
	     	</section>
<pre>
	....
	.

	.
	.
	.
	.
</pre>






			<%- include('parts/footer'); -%>