<%- include('parts/header'); -%> <%# include header.ejs from view/parts %> 
<%- include('parts/navBar'); -%><%# include nav-bar.ejs [Navigation] from view/parts %> 

      <%# --- hedar-car maintenance --- %> 
  <div id="hero-header">
    <div id="hero-content">
      <h1 id="hero-title">Maintenance and service<br> centers in Jordan</H1>
        <p class="hero-p">Car maintenance services in Jordan, all kinds of cars and services</p>
    </div>
<fieldset>

  <div class="select">

    <p>Vehicle Type</p>
    <div class="select-wrapper theme-dark">
      <select id="car" title="Please select a car">
        <option value="0">Kia</option>
        <option value="0">Opel</option>
        <option value="1">Audi</option>
        <option value="2">Infiniti</option>
        <option value="3">Ferrari</option>
        <option value="4">Honda</option>
      </select>
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <p>Section </p>
  <div class="select no-label">
    <label for="car_2">Select Color</label>
    <div class="select-wrapper theme-light">
      <select id="car_2" title="Please select a car" required>
        <option value="0"> car checking</option>
        <option value="1">fixing cars</option>
        <option value="2">spare parts</option>
        <option value="3">Oil and wash gauge</option>
        <option value="4">Accessories</option>
        <option value="5">winches</option>
      </select>
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  
  <p>City</p>
  <div class="select no-label">
    <label for="car_3">Select City</label>
    <div class="select-wrapper theme-light">
      <select id="3" title="Please select a" required>
        <option value="0">Amman</option>
        <option value="1">Zarqa</option>
        <option value="2">Irbid</option>
        <option value="3">Madaba</option>
        <option value="4">al-Mafraq</option>
        <option value="5">Jerash</option>
        <option value="6">as-Salt</option>
        <option value="7">ِAqaba</option>
        <option value="8">Ma'an</option>
        <option value="9">Tafilah</option>
        <option value="10">Balqa</option>
        <option value="11">Ajloun</option>
      </select>
      <i class="fa fa-chevron-down"></i>
      
    </div>
 
      </div>
    	<a href="#"><button class="but">Search</a></button>
  </div>
</fieldset>
</section>
<%# ---  End hedar-car maintenance --- %> 




<%# ---  center-car maintenance --- %> 
<section>
<div class="table">

    <table>
      <h2>Kia Marka car checking centers with numbers<br> and location Amman Jordan</h2>
      <h5>8 centers</h5>
      <tr>
      
        <td><a href="/">Abu Musa</a></td>
        <td>Amman,marka</td>
        
      </tr>
      <tr>
        <td><a href="">Mizan Al Hamidi Center</a></td>
        <td>Amman,marka</td>
       
      </tr>
      <tr>
        <td><a href="">Emad Al-Aidi electronic scale</a></td>
        <td>Amman,marka</td>
    
      </tr>
    
      <tr>
        <td><a href="">Ahmed electronic scale</a></td>
        <td>Amman,marka</td>
      
      </tr>
      <tr>
        <td><a href="">Balance Ali Al-Masry</a></td>
        <td>Amman,marka</td>
      
      </tr>
      <tr>
        <td><a href="">Al-Safari Modern Center and Balance</a></td>
        <td>Amman,marka</td>
      
      </tr>
      <tr>
        <td><a href="">Ramy Electronic Scale</a> </td>
        <td>Amman,marka</td>
      
      </tr>
      <td><a href="">Huda electronic scale</a></td>
      <td>Amman,marka</td>
     
    </table>
  </div>
</section>
<%# ---  End center-car maintenance --- %> 

<pre>
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
. 
</pre>
























<!----
<section class="margin-top-part section-homePage">
  <div class="imge-with-text">
    <div class="imge-side">
      <img class="imge-side" src="images/rep.jpg">
    </div>
    <div class="text-side">
      <div class="text-side-inline">
        <h2 class="text-side-title">Welcome to car repair</h2>
        <p class="text-side-desc">Car Repair stands for expertise, value, and professionalism - and has from the day the company began. 
          We were the first automotive aftermarket repair company to offer a lifetime guarantee on select services,
           and today we guarantee that the results of our work will meet your expectations.</p>
  
      </div>
    </div>
  </section> 
</div> 

  <div id="mainSErvices">
    <div id="features-container">
      <div id="features-description">
        <h1>  Auto Maintenance services <span id="orange-text">  </span> </h1>
        <hr id="title-text-separator" />
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.  </p>
      </div>
      <div id="service-features">
        <div id="feature">
          <img src="images/delivery-truck.png"  id="heart-icon" />

          <h2 id="feature-title"> delivery truck </h2>

          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
        </div>

        <div id="feature">
          <img src="images/engine-oil.png" alt="Code Icon" id="code-icon" />

          <h2 id="feature-title">engine oil  </h2>

          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
        </div>

        <div id="feature">
          <img src="images/changing-car-tire.png" alt="Shield on Phone Icon" id="phone-icon" />
          <h2 id="feature-title">changing tire </h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
        </div>

        <div id="feature">
          <img src="images/crane.png" alt="Monitor Icon" id="monitor-icon" />

          <h2 id="feature-title"> carane </h2>

          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>

    </div>
  
</div>
-->

<%- include('parts/footer'); -%>