<%- include('parts/header'); -%> <%# include header.ejs from view/parts %> 
<%- include('parts/navBar'); -%><%# include nav-bar.ejs [Navigation] from view/parts %> 

<div class="medical">
    <h3 id="top-text">Cultural tourism in Jordan</h3>
    <img id="top-img"  src="images/petraa.jpg " width="100%" >
    <div id="featured">
        <p>Sports tourism is one of the most important types of tourism that contribute effectively to the revitalization of tourism, whether internal or external, and thus raise the level of the economy through the establishment of tournaments and sports competitions, to attract large numbers of tourists for the purpose of negative or positive participation in these events or sports tournaments.

            At the present time, tourism is no longer limited to visiting the ancient monuments left by ancestors, but there is a new global trend to link tourism with sports in order to serve each other.</p>
  
    </div>
        <section>
    <div>
    <p id="info-medical">
        You can also learn about the customs and traditions of the Jordanian people, and visit a large number of archaeological sites such as the city of Petra, Jerash and other distinguished sites. , and the Roman amphitheater.</p>
           <div class="culture-event">
           <h3 id="factors-medical">Sports tourism in Jordan</h3>
           <h4>Skydiving</h4>
           <p>It is considered one of the most beautiful air games and one of the most famous events held during the summer seasons in the Kingdom in the desert region of Wadi Rum, where visitors spend the night in the famous Wadi Rum desert and enjoy the adventure of parachuting over the desert. One of the professional paratroopers who takes full control during the landing process.</p>      
           </div>
           <div class="info-monuments">
             <h4>camping activities</h4>
             <p class="parq">The Kingdom is famous for the availability of camping sites in various natural areas, such as Wadi Rum, which contains camping houses, where driving activities are held in the desert and enjoy a spectacular view of the stars during the evening to watch the stars. The area receives many visitors where events and dinner parties are held with the most famous local cuisine for local families and tourists . Now the Kingdom has many camping places in the mountainous regions and governorates of the Kingdom that allow the visitor time to rest and relax in the atmosphere of the Jordanian nature with its fresh air.</p>
               <img src="images/t5eem.jpg" width="100%" height="100%">
                 </div>
     </div>
     </section>

     <section>
        <h3 id="info-med">The most prominent archaeological sites in Jordan</h3>				
            <ul class="blog">
                 <li>
                      <div>
                           <img src="images/t5eem.jpg"   alt=""/></a>
                      <h3>petra</h3>
                           <p>An archaeological and historical city located in Ma'an Governorate.</p>
                           <a href="/Aboutculture">Click to read more</a>
                      </div>
                 </li>
                 <li>
                      <div>
                           <img src="images/1-2(2).jpg"  alt=""/></a>
                      <h3>The ancient city of Jerash
                  </h3>
                           <p>Jerash is located in the northwestern part of the Kingdom.</p>
                           <a href="/Aboutculture">Click to read more</a>
                      </div>
                 </li>
                 <li>
                      <div>
                           <img src="images/imG1.jpg" alt=""/></a>
                           <h3>Mosaic map of Madaba </h3>
                           <p> oldest original map of the Holy Land (Byzantine era).</p>
                           <a href="/Aboutculture">Click to read more</a>
                      </div>
                 </li>
            </ul>
       </div>	
       </section>
     </div>
     
<%- include('parts/footer'); -%>